# Dependency directories
node_modules

# Build output
dist
dist-ssr

# Environment files
.env
.env.*
*.local

# Firebase
serviceAccountKey.json

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
Thumbs.db